.input-wrapperr:hover {
  border: 2px solid var(--button-bg);
}

.input-wrapperr {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem; 
  border-radius: 5px;
  padding-right: 10rem;
  border: 1px solid #DEA283;
  background-color: #fff;
  transition: border 0.3s ease;
  text-align: left; 
}


 .input {
  flex: 1;
  outline: none;
  font-size: 0.9rem;
  text-align: left; 
}

