.bestsellers-section {
  position: relative;
  max-width: 1300px;
  padding: 0 2rem;
  margin-left: 14rem;
}

.bestsellers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.bestsellers-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
  
}
.arrows {
  position: absolute;
  top: 50%;
  left: -26px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
  width: calc(100% + 60px); 
}

.arrows button {
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  pointer-events: auto;
  transition:  0.3s ease;
}

.arrows button:hover {
  background: rgba(0, 0, 0, 0.7);
}


.bestsellers-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;

}

.book-card {
  flex: 0 0 19%; 
  background: var(--card-color);
  border-radius: 12px;
  padding: 1rem;
  height: 400px;
  width: 100px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.book-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}

.book-title {
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.book-rating .star {
  color: #ccc;
  font-size: 2rem;
}

.book-rating .star.filled {
  color: gold;
}

.book-price {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0.75rem;
  color: var(--price-bg);
}

.learn-more-btn {
  padding: 0.5rem 1rem;
  background-color: #b96c42b8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.learn-more-btn:hover {
  background-color: #a25a36;
}
