.features-wrapper {
  padding: 2rem 1rem;
  background-color: var(--main-bg);
}

.features-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 2rem;
  margin: 1rem auto;
  max-width: 1400px;
  margin-top: -30px;
}

.feature-card {
  background-color: var(--try-bg);
  padding: 2rem;
  border-radius: 15px;
  width: 150px;
  height: 210px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: scale(1.03);
}

.feature-image {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

.feature-card h3 {
  font-size: 1rem;
  color: var(--cards-color);
  margin-bottom: 0.3rem;
}

.feature-card p {
  font-size: 0.8rem;
  color: var(--cards-color);
}

.imageSteps {
  margin: 40px auto;
  text-align: center;
  width: 100%;
}

.imageSteps img {
  display: block;
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
  border-radius: 20px;
}

/* Responsive */
@media (max-width: 960px) {
  .feature-card {
    width: 70%;
    max-width: 400px;
  }

  .features-section {
    flex-direction: column;
    align-items: center;
  }

  .feature-card h3 {
    font-size: 1.1rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 400px) {
  .feature-card {
    width: 90%;
    max-width: 250px;
  }

  .feature-image {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
  }

  .feature-card h3 {
    font-size: 1rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
  }

  .features-section {
    gap: 2rem;
  }
}
