.footerr {
  width: 100%;
  padding-bottom: 30px;
  background-color: var(--nav-bg);
  font-family: sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  margin-left: -35px;
  margin-right:-35px;
  margin-bottom:-35px;
  padding-left: 4rem;
}

.container {
  max-width: 1900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--nav-bg);
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 2rem;
}

.footer-about {
  flex: 1 1 300px;
}

.footer-about-logo {
  font-size: 22px;
  font-weight: bold;
  color:  var(--try-bg);
  margin-bottom: 0.5rem;
}

.footer-about p {
  margin: 1rem 0;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
}

.social-icons-img {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.5rem;
}

.social-icons-img img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.social-icons-img img:hover {
  transform: scale(1.1);
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 2 1 600px;
  justify-content: space-around;
}

.footer-links h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--main-color);
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 6px 0;
  font-size: 15px;
  font-weight: 500;
  color: var(--main-color);
  transition: all 0.2s ease;
  color: var(--main-color);
}

.footer-links li:hover {
  color: var(--try-bg);
  transform: translateX(5px);
}

.footer-links li:hover .icon {
  color: #D4885F;
}

.footer-bottom {
  text-align: center;
  margin-top: 3rem;
  font-size: 13px;
  color: #777;
  font-weight: 500;
}

.social-icons-img{
  justify-content: center;
}


@media (max-width: 768px) {
  .social-icons-img img {
  justify-content: center;
  }


}
