.welcome-section {
  display: flex;
   align-items: flex-start; 
  justify-content: flex-start;
  padding: 4rem 8%;
  gap: 9rem;
  flex-wrap: wrap;
}

.left-section img {
  width: 100%;
  max-width:350px;
  height: auto;
  border-radius: 12px;
}

.left-section img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 12px;
}

.right-section {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left; 
  margin-bottom: 7rem;
}

.welcome-title h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  margin-right: 280px;
 
  
}

.welcome-description p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  margin-top: 1rem;
}
