.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 8%;
  gap: 9rem;
  flex-wrap: wrap;
}

.left-section img {
  width: 100%;
  max-width:550px;
  height: auto;
  border-radius: 12px;
}

.right-section {
  max-width: 500px;
  display: flex;
  margin-bottom: 7rem;
  flex-direction: column;
  justify-content: center;
}

.welcome-title h1 {
  font-size: 3rem;
  font-weight: 500;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.welcome-description p {
  font-size: 1.3rem;
  line-height: 1.6;
}
