.welcome-section {
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start;
  padding: 4rem 8%;
  gap: 6rem;
  flex-wrap: wrap;
  margin-left: 9rem;
}

.left-section img {
  width: 100%;
  max-width:390px;
  height: auto;
  border-radius: 12px;
}

.left-section img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 12px;
}

.right-section {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left; 
  margin-bottom: 7rem;
  margin-top: 1rem;

}

.welcome-title{
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin-right: 18rem; 
}

.welcome-description p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  margin-top: 1rem;
}
