.input-group {
  position: relative;
  margin: 20px 0;
}

.auth-label {
  position: absolute;
  top: -7px;
  left: 10px;
  background: var(--main-bg);
  padding: 0 5px;
  font-size: 0.8rem;
  color: #000000;
  z-index: 1;
  font-weight: 600;
  margin-top: 13px;
}

.primary-input {
  width: 200px;
  height: 5px;
  padding: 15px;
  font-size: 12px;
  border: 2px solid #cf7b4d96;
  border-radius: 5px;
  outline: none;
  background: #fff;
  margin-top: 1rem;
}
