:root {

  --nav-bg: #FAF2EE;
  --main-bg: #FEFBFA;
  --soft-bg: #e0e0e0;
  

  --soft-color: #ffffff;
  --dark-color: #000000;
  --cards-color: #ffffff;
  --main-color: #000000;
  --card-color: #faece5;


  --button-bg:  #D4885F;
  --try-bg:  #d4885fb6;
  --price-bg:  #DEA283;
 

}

body.dark {
  --nav-bg: #1f1f1f;        
  --main-bg: #121212;      
  --soft-bg: #2a2a2a;   
  --main-color: #ffffff;   
  --try-bg:  #FAF2EE; 
  --cards-color: #000000;
  --card-color: #1f1f1f;
  --price-bg:  #FAF2EE;
 
  --soft-color: #ffffff;    
  --dark-color: #000000;     

  --button-bg: #D4885F;      
}


body {
  background-color: var(--main-bg);
  color: var(--main-color);
}
