.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.3rem;
  background-color: var(--nav-bg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 70px;
}

.Navbar-logo {
  display: flex;
  align-items: center;
}

.Navbar-logo h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.icon-btn {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0 10px;
  filter: drop-shadow(0 1px 1px rgba(0,0,0,0.1));
  transition: transform 0.2s ease;
  
}

.icon-btn:hover {
  transform: scale(1.15);
}

.icon-btn img {
  width: 100%;
  height: 100%;
  color: white;
  object-fit: contain;
}



.Navbar-animation{
    width: 130px;
    height: 130px;
}

.right-section {
  display: flex;
  align-items: center;
}

.Navbar-icon{
  width: 50px;
}

.Navbar-profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pro-pic {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.2s ease;

}

.pro-pic:hover {
  transform: scale(1.05);
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.dropdown li {
  list-style: none;
  font-size: 13px;
}

.dropdown a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
  padding: 0.3rem 0.3rem;
  display: block;
  transition: background-color 0.2s;
}

.dropdown a:hover {
  color: #D4885F;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 180px;
}


.nav-btn {
  padding: 6px 12px;
  font-size: 10px;
  font-weight: 500;
  border: none;
  background: none;
  color: var(--main-color);
  border-radius: 6px;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-btn:hover {
  color: #D4885F;
  background-color: rgba(0, 0, 0, 0.03); 
}


.nav-btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #D4885F;
  transition: width 0.3s ease;
}

.nav-btn:hover::after {
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  margin-right: 40px;
}

.btn {
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-color);
  border: none;
  background: none;
  border-radius: 6px;
  transition: color 0.3s, background-color 0.3s;
  position: relative;
  
}


.btn:hover::after {
  width: 100%;
}

.login-btn {
  color: var(--main-color);
}

.login-btn:hover {
  color: #D4885F;
}

.register-btn {
  color: var(--main-color);
  font-weight: 600;
}


.register-btn:hover {
  color: #D4885F;
}

@media (max-width: 390px) {
  .Navbar-animation {
    display: none;
  }

  .Navbar-logo h2 {
    font-size: 1.5rem;
  }

  .Navbar-icon {
    width: 30px;
  }
  
  .pro-pic {
    width: 40px;
    height: 40px;
  }
}