.register-container-wrapper {
  position: relative;
  text-align: center;
  background-color: var(--main-bg);
  padding: 2rem;
  margin-top: 40px;
  overflow: hidden;
}

.register-title-wrapper {
  position: absolute;
  top: 0.3rem;
  width: 100%;
  z-index: 2;
  text-align: center;
}

.register-title {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  padding-top: 2rem;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
  margin-top: 2rem;
}

.register-animation {
  flex: 1;
  max-width: 270px;
  margin-top: 2rem;
}

.form-title {
  font-size: 1rem;
}

.register-form {
  color: black;
  flex: 1;
  max-width: 230px;
  height: 300px;
  background: white;
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-row {
  color: black;
  display: flex;
  gap: 1rem;
}

.input-group {
  flex: 1;
}

.firstlast {
  color: black;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 90%;
  margin-left: -3px;
}

.firstlast input {
  width: 80px;
  height: 3px;
}

.Second {
  margin-top: -20px;
}

.button-register {
  margin-top: 5px;
}

.back {
  font-family: 'Great Vibes', cursive;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 40px;
}

@media (max-width: 821px) {
  .register-title {
    font-size: 2.2rem;
  }

  .register-form {
    max-width: 100%;
  }

  .register-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding-top: 6rem;
  }

  .register-animation {
    display: none;
  }

  .register-footer {
    margin-top: 3rem;
  }

  .register-title-wrapper {
    position: absolute;
    top: 0.3rem;
    width: 90%;
    z-index: 2;
    margin-top: 2rem;
    text-align: center;
  }

  .register-title {
    font-size: 1.4rem;
    padding: 0.3rem;

  }


}
